@import '../base/variables.css';

body {
    background-color: var(--color-bg);
}

.user-attendance__alert {
    background-color: var(--color-success-bg);
    color: var(--color-success);
    text-align: center;
    font-size: var(--font-xxs);
    width: 100%;
    margin: 0 auto;
    padding: var(--spacing-xs);
}

.user-attendance__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: var(--spacing-3xl) 0;
}

.user-attendance__heading {
    display: flex;
    align-items: center;
    text-align: left;
    width: 80%;
    margin: 0 auto var(--spacing-xl);
}

.user-attendance__heading::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 40px;
    background-color: var(--color-black);
    margin-right: var(--spacing-sm);
}

.user-attendance__heading-text {
    font-size: var(--spacing-lg);
    font-weight: bold;
}

.user-attendance__pagenation {
    width: 80%;
    margin: var(--spacing-section) auto;
    padding: var(--spacing-md) 0;
    border-radius: var(--radius-md);
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-md);
}

.pagenation__link {
    text-decoration: none;
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--font-xxs);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: var(--spacing-xxs);
}

.pagenation__link--prev::before {
    content: "";
    display: inline-block;
    background: url(../../../images/arrow.png) no-repeat center;
    background-size: contain;
    width: 20px;
    height: 15px;
}

.pagenation__link--nxt::after {
    content: "";
    display: inline-block;
    background: url(../../../images/arrow.png) no-repeat center;
    background-size: contain;
    width: 20px;
    height: 15px;
    transform: rotate(180deg);
}

.pagenation__cur {
    font-size: var(--font-sm);
    font-weight: bold;
    position: relative;
}

.pagenation__cur::before {
    content: "";
    position: absolute;
    background: url(../../../images/Calendar.png);
    background-size: cover;
    top: 50%;
    left: -50%;
    width: 25px;
    height: 25px;
    transform: translate(0, -50%);
}

.user-attendance__table-inner {
    width: 80%;
    margin: 0 auto;
    border-radius: var(--radius-md);
    border-collapse: collapse;
    background-color: var(--color-white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    letter-spacing: var(--letter-spacing-sm);
    font-weight: bold;
    color: var(--color-primary);
}

.user-attendance__table-inner thead {
    border-bottom: 3px solid var(--color-border-list);
}

.user-attendance__table-inner td {
    border-bottom: 2px solid var(--color-border-list);
}

.user-attendance__table-inner th,
.user-attendance__table-inner td {
    padding: var(--spacing-sm);
    text-align: center;
    font-size: var(--font-xxs);
}

.user-attendance__table-inner a {
    text-decoration: none;
    color: var(--color-black);
}
.user-attendance__btn {
    width: 80%;
    margin: var(--spacing-section) auto;
    text-align: right;
}
.user-attendance__btn-csv {
    padding: var(--spacing-sm) var(--spacing-xl);
    border-radius: var(--radius-sm);
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: bold;
    font-size: var(--font-sm);
    text-decoration: none;
}
@media screen and (min-width: 768px) and (max-width: 850px) {
    .user-attendance__inner {
        padding: var(--spacing-md) 0;
    }

    .user-attendance__heading {
        margin: 0 auto var(--spacing-md);
    }

    .pagenation__cur::before {
        left: -40%;
    }

    .user-attendance__table-inner {
        letter-spacing: normal;
    }

    .user-attendance__table-inner th,
    .user-attendance__table-inner td {
        padding: var(--spacing-xxs);
    }
}